html {
    font-size: 22px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
    font-family: 'Raleway', sans-serif;
    background-color: cornsilk;
  }
  h1 {
    margin: 0;
    padding: 15px 0;
    color: black;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
  }
  h2 {
      text-align: center;
  }
  p, li {
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;
  }
  body {
      width: 600px;
      margin: 0 auto;
      background-color: #dce3ff;
      padding: 0 20px 20px 20px;
      border: 5px solid black;
  }
  img {
      display:block;
      margin: 0 auto;
      width:auto;
  }